body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #252525;
    padding: 20px 0;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.image {
    filter: invert(100%);
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}

a:link {
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
}

a:visited {
    color: #fa8900;
}

a:hover {
    color: #ff0000;
}

a:active {
    color: #27cc4d;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 40%;
}

.checkbox {
    margin: 20px 0;
}

select {
    padding: 3px 0;
    font-size: 18px;
}

.enviar {
    width: 25%;
    padding: 15px 0;
    background: #00be2c;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: #008f21;
    transform: scale(1.1);
}

table {
    margin: 18px 0 40px;
}

thead {
    background: #feffb3;
    font-weight: bold;
}

th,
td {
    font-size: 20px;
    border: 1px solid #000;
    padding: 8px 15px;
}

footer {
    text-align: center;
    background: #252525;
    padding: 40px 0;
}

.copyright {
    color: #fff;
    font-size: 13px;
    margin: 20px 0 0;
}